/* Main.css */

.flight {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 30px 10px;
}

.flight form {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.flight label {
    font-weight: bold;
    margin-bottom: 5px;
}

.flight select {
    width: 100%;
    padding: 4px 2px;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(248, 248, 248);
    border-radius: 3px;
    font-size: 16px;
}

.flight .select-country {
    width: fit-content;
}

.flight .btn-p {
    width: fit-content;
    height: 32px;
    padding: 3px 35px;
    font-weight: bolder;
}

.promo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.counter {
    padding-left: 5px;
    width: 40px;
    height: 30px;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(248, 248, 248);
    border-radius: 3px;
}

/*Vuelos disponibles*/

.flight h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    margin-bottom: 10px;
    font-family: 'Emirates';
}

.flight-title img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.flight ul {
    list-style: none;
    padding: 0;
}

.flight li {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.flight-info {
    padding: 12px 20px;
    width: 100%;
}

.departure-date {
    font-size: 18px;
}

.cities {
    font-size: 18px;
}

.fare {
    font-size: 12px;
    line-height: 0.9;
    color: grey;
}

.codeAP {
    font-size: 12px;
    line-height: 0.9;
    color: var(--color-red);
    margin: 5px;
    margin-top: 8px;
}

.fare span {
    font-size: 33px;
    color: black;
}

.flight .btn-p {
    font-size: 16px;
    margin: 0px 12px
}

@media (max-width: 768px) {
    .btn-flight button {
        margin-right: 0;
    }

    .departure-date,
    .cities {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .cities {
        margin-bottom: 10px;
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .departure-date {
        font-size: 14px;
        padding-right: 10px;
    }

    .cities {
        font-size: 15px;
        padding: 0;
        padding-right: 12px;
    }
    
}

@media (max-width: 391px) {
    .departure-date,
    .cities {
        font-size: 13px;
    }
    
}

@media (max-width: 362px) {
    .departure-date,
    .cities {
        font-size: 12px;
    }
    
}

@media (max-width: 345px) {
    .departure-date,
    .cities {
        font-size: 11px;
    }
    
}

/*Row box*/

.servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #666;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.servicios .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    height: 90px;
    background-color: white;
}

.servicios img {
    width: 35px;
}

.servicios p {
    margin: 0;
    line-height: 1;
    font-size: 15px;
}

.servicios .icon-box:hover {
    cursor: pointer;
    color: #000;
    border-bottom: 3px solid var(--color-red);
    text-decoration: none;
}

.img-container img {
    width: 100%;
    height: 100%;
}

/*Destinos destacados*/

.destinos-container h3 span {
    color: var(--color-red);
    font-size: 25px;
}

.box-destino {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: auto;
    padding-bottom: 5px;
}

.box-destino img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4px 4px 0 0;
}

.box-destino .country {
    font-weight: bolder;
    color: #666;
    letter-spacing: 6px;
    font-size: 10px;
}

.box-destino .msg, .msg {
    font-size: 13px;
    font-weight: 400;
}

.box-destino .price {
    font-size: 16px;
    font-weight: bolder;
}

.btn-s, .btn-s:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid rgb(43, 21, 21) !important;
}

.btn-s:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

