.top-header {
    height: 45px;
    background-color: var(--color-blue);
    border-bottom: 1px solid grey;
}

.top-header-content {
    height: 100%;
}

.top-header-content select {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    padding: 0 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    height: 30px;
    outline: none;
}

.header {
    height: 70px;
    width: 100%;
    background-color: var(--color-dark);
    border: none;
    z-index: 1;
}

.logo {
    width: 270px;
}

.navbar {
    height: 100%;
    display: fixed;
}

.navbar-toggler,
.btn-close {
    box-shadow: none !important;
    border: none;
}

.navbar-toggler {
    padding-left: 0;
    padding-right: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-close {
    /* margin: 0; */
    opacity: 1;
}

.offcanvas {
    background-color: white;
    padding: 30px;
    z-index: 2;
}

.offcanvas-backdrop {
    z-index: 1;
}

.offcanvas {
    border: none !important;
}

.offcanvas-header {
    display: flex;
    gap: 5px;
}

ul {
    font-size: 22px;
    font-family: 'HelveticaNowBold';

}

ul .nav-link {
    color: var(--color-dark);
}

ul .nav-link:hover {
    color: var(--color-red);
}

/* Media query para movil */
@media (max-width: 480px) {
    .top-header-content {
        font-size: 13px;
    }
}

.bottom-header {
    position: relative;
    height: 290px;
    background-image: url('../../assets/images/skyline-view-from-la-mer-dubai-w1920x480.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 10px;
}

.bottom-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 0; 
}

.bottom-heder-content {
    font-family: 'Emirates';
    color: white;
    z-index: 1; 
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.bottom-heder-content button {
    font-weight: bolder;
    font-family: 'HelveticaNowBold';
}

/* Dialog */

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.dialog {
    width: 450px;
    height: auto;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    border-radius: 2px solid black;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dialog .form-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 25px;
}

.dialog .form-container .btn-p {
    padding: 6px 15px;
}

.dialog .title {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 24px;
    font-weight: 800;
}

.error-message {
    font-weight: 600;
    color: var(--color-red);
}

.dialog .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.dialog .input {
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 6px 14px;
}

.dialog .page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}

.dialog .page-link-label {
    cursor: pointer;
    font-size: 13px;
}

.dialog .sign-up-link {
    text-decoration: underline;
    cursor: pointer;
}

.dialog .btn-close {
    float: right;
}

.dialog .page-link-label:hover {
    color: #000;
}

.dialog .page-link-label:hover {
    color: #000;
}

.dialog .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}

.dialog .apple-login-button,
.dialog .google-login-button {
    border-radius: 4px;
    padding: 6px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
    gap: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.dialog .apple-login-button {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.dialog .google-login-button {
    border: 1px solid #c0c0c0;
}

.apple-login-button:hover {
    background-color: #272727;
}

.google-login-button:hover {
    background-color: rgb(236, 236, 236);
}

.dialog .buttons-container img{
    width: 18px;
}