:root {
    --color-dark: #232b38;
    --color-blue: #2b3947; 
    --color-red: #E50914; 
    --color-darkred: #af0000; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HelveticaNowRegular';
    src: url('./assets/fonts/HelveticaNowTextRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'HelveticaNowBold';
    src: url('./assets/fonts/HelveticaNowTextBold.woff2') format('woff2');
}

body {
    font-family: "HelveticaNowRegular", sans-serif;
}

.container-fluid {
    max-width: 1700px;
}

.btn-p {
    padding: 3px 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-red);
    color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-p:hover {
    background-color: var(--color-darkred);
}

.flight-info {
    height: 350px;
    width: 100%;
    background-image: url(./assets/images/skyline-view-from-la-mer-dubai-w1920x480.jpg);
    background-size: cover;
}