/* print.css */
@media print {
    body * {
        visibility: hidden;
    }

    #printable,
    #printable * {
        visibility: visible;
    }

    #printable {
        position: absolute;
        left: 0;
        top: 0;
    }

    .error-message {
        display: none;
    }

    .btn-p,
    .btn-close,
    .dialog-overlay {
        display: none !important;
    }
}